.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo img {
    width: 100px;
}

.utilidades {
    display: flex;
    gap: 20px;
}
